{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'admin:catalog_product_import' %}" class="addlink">
            <i class="fas fa-file-import"></i> {% trans "Import products" %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:download_import_template' %}" class="addlink">
            <i class="fas fa-download"></i> {% trans "Download template" %}
        </a>
    </li>
{% endblock %}